#app{
  .ant-btn-primary {
    color: #fff;
    background-color: $theme-color;
    border-color: $theme-color;
    a, a:active, a:hover {
      color: #fff;
    }
  }
  .ant-btn-primary:focus, .ant-btn-primary:hover {
    color: #fff;
    background-color: $theme-color-light;
    border-color: $theme-color-light;
  }

  .ant-input:hover {
    border-color: $theme-color-light;
  }
  .ant-input:focus {
    border-color: $theme-color-light;
    outline: 0;
    box-shadow: 0 0 0 2px $background-color-high;
  }
  .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
    border-color: $theme-color;
  }

  .ant-checkbox-checked .ant-checkbox-inner, .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: $theme-color-light;
    border-color: $theme-color-light;
  }

  .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: $theme-color-light;
  }
  .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
    border-bottom: none;
  }
  .ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom: none;
    color: $theme-color-light;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: $theme-color-light;
    font-weight: 500;
  }

  .ant-tabs-ink-bar{
    background: $theme-color-light;
  }

  .ant-tabs-nav .ant-tabs-tab:hover {
    color: $theme-color-light;
  }

  ::selection {
    background: $theme-color-light;
    color: #fff;
  }

  a, a:active, a:hover {
    color: $theme-color;
  }
}

